/* body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
} */

.text-body-emphasis {
    --bs-text-opacity: 1;
    color: blue !important;
}
