#red {
    color:red;
}

#green {
    color:green;
}

#orange {
    color:orange;
}

#blue {
    color:blue;
}

#yellow {
    color:yellow;
}

.color-title {
    font-weight: normal;
}

img {
    height: 200px;
    width:200px;
}
